@import 'material';

$red:                   #d17678;
$accent_green:          #afbea2;

$primaryMon:           $primaryContainer;
$secondaryMon:         $tertiaryContainer;
$thirdMon:             $tertiary;
$fourthMon:            $success;

$tooltipBg:            $background;
$fg:                   $onBackground;
$bg:                   transparentize($background, .5);
$barBg:                transparentize($background, .5);

$surface:              transparentize($surfaceBright, .6);
$overlay:              transparentize($onSurface, .25);

$accent:               $tertiaryContainer;

$buttonEnabled:        $accent;
$buttonEnabledHover:   adjust_color($buttonEnabled, $lightness: -15%);

$buttonDisabled:       $surface;
$buttonDisabledHover:  adjust_color($buttonDisabled, $alpha: +0.8);

$ramProc:              $onPrimaryFixedVariant
$cpuProc:              $onTertiaryFixedVariant
$procBg                $surfaceDim
