$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FE7600;
$secondary_paletteKeyColor: #966F49;
$tertiary_paletteKeyColor: #967132;
$neutral_paletteKeyColor: #887368;
$neutral_variant_paletteKeyColor: #8B7265;
$background: #1D1009;
$onBackground: #F8DDD0;
$surface: #1D1009;
$surfaceDim: #1D1009;
$surfaceBright: #46362D;
$surfaceContainerLowest: #170B05;
$surfaceContainerLow: #261811;
$surfaceContainer: #2B1C14;
$surfaceContainerHigh: #36271E;
$surfaceContainerHighest: #413128;
$onSurface: #F8DDD0;
$surfaceVariant: #574237;
$onSurfaceVariant: #DEC0B1;
$inverseSurface: #F8DDD0;
$inverseOnSurface: #3D2D24;
$outline: #A68B7D;
$outlineVariant: #574237;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB68D;
$primary: #FFB68D;
$onPrimary: #532200;
$primaryContainer: #763300;
$onPrimaryContainer: #FFDBC9;
$inversePrimary: #9B4600;
$secondary: #EDBD92;
$onSecondary: #472A0A;
$secondaryContainer: #634220;
$onSecondaryContainer: #FFDEC2;
$tertiary: #ECBF78;
$onTertiary: #432C00;
$tertiaryContainer: #B28A48;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDBC9;
$primaryFixedDim: #FFB68D;
$onPrimaryFixed: #331200;
$onPrimaryFixedVariant: #763300;
$secondaryFixed: #FFDCBE;
$secondaryFixedDim: #EDBD92;
$onSecondaryFixed: #2D1600;
$onSecondaryFixedVariant: #60401E;
$tertiaryFixed: #FFDEAD;
$tertiaryFixedDim: #ECBF78;
$onTertiaryFixed: #281900;
$onTertiaryFixedVariant: #5F4103;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #27160E;
$term1: #E66E2C;
$term2: #FFBF87;
$term3: #FFE0CC;
$term4: #B8AC66;
$term5: #F09170;
$term6: #FEBD73;
$term7: #EED4C3;
$term8: #CBB5A9;
$term9: #FFAD85;
$term10: #FFFCFF;
$term11: #FFFFFF;
$term12: #F9D7AC;
$term13: #FFD0BF;
$term14: #FFF9F7;
$term15: #FFDBC9;
