.notification {
  // Eventboxes can't have margins, style the inner box instead
  > box {
    margin: 5px 5px 5px 10px;
    min-width: 25rem;
    border-radius: $round2;
    background-color: $bg;
    border: 1px solid transparent;

    // Critical notification style
    .notification.critical & {
      border: 1px solid red;
    }
  }

  // Icon styling
  .icon {
    > box { // Image container
      border-radius: $round;
      margin: 0.5rem;
      min-height: 5rem;
      min-width: 5rem;
      background-size: contain;
    }

    icon { // Icon element
      font-size: 5rem;
      margin: 0.5rem;
      min-height: 5rem;
      min-width: 5rem;
    }
  }

  // Text content
  .text {
    padding: 0.5rem;
    margin-bottom: 0.5rem;

  .app-name {
    font-size: 0.9rem;
    font-weight: bold;
    color: transparentize($fg, 0.7);
    margin-right: 0.75rem;
  }

  .title {
    font-size: 1rem;
    color: $fg;
  }
  .body {
    padding: 0.5rem;
    color: transparentize($fg, 0.4);
  }
}

  // Action buttons
  .actions {
    .action-button {
      @include window-box;
      @include animate;
      padding: 0.5rem 0;

      &:hover {
        background: $button-disabled-hover;
      }
    }
  }
}
