
.notification {
  margin: 5px 5px 5px 10px;
  min-width: 20rem;
  border-radius: $round2;
  background-color: $bg;
  border: 1px solid transparent;
  padding: 0.25rem 0.75rem;

  &.critical {
    border: 1px solid red;
  }

  .header {

    .app-name {
      font-size: 0.9rem;
      font-weight: bold;
      color: transparentize($fg, 0.3);
    }
    .time {
      font-size: 0.9rem;
      font-weight: bold;
      color: transparentize($fg, 0.3);
    }
  }

  separator {
      margin: 0 -0.75rem ;
      background-color: transparentize($fg, .5);
  }

  .content{
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;

    > box {
      min-width: 64px;
      min-height: 64px;
      border-radius: $round;
      background-size: contain;
      background-repeat: no-repeat;
    }

    icon {
      font-size: 64px;
    }
    .thumb {
      margin-right: 0.5rem;
    }

    .title {
      margin-right: 0.5rem;
      font-size: 1.1rem;
      font-weight: 500;
      color: $fg;
    }

    .body {
      margin-right: 0.5rem;
      font-size: 0.95rem;
      color: transparentize($fg, 0.2);
      margin-top: 0.75rem;
    }
  }
  .actions {
    margin-top: 1rem;

    .action-button {
      @include window-box;
      @include animate;
      padding: 0.5rem 1rem;
      font-size: 0.9rem;

      &:hover {
        background: $button-disabled-hover;
      }
    }
  }
}

