/* general */
.system-menu {
  @include window;
  margin-top: 4px;
  margin-right: 4px;

  & > box {
    @include window-box;
  }
}

/* toggles */
.system-menu .toggle {
  min-width: 20rem;
  &:not(:last-child) {
    margin-bottom: 0.3rem;
  }

  button {
    margin-right: 0.5rem;
  }
}

/* power profiles */
.system-menu .power-profiles {
  padding: 0;

  .current-profile {
    padding: 0.3rem;
  }

  icon,
  label {
    margin: 0.3rem;
  }

  .options {
    padding: 0;

    widget {
      @include button;
      border-radius: 0;

      &:last-child {
        border-radius: 0 0 $round $round;
      }

      box {
        padding: 0.3rem;
      }
    }
  }
}

/* sliders */
.system-menu .sliders {
  min-height: 0.5rem;
  icon {
    margin: 0.3rem;
  }
  trough {
    margin: 0.5rem 0.5rem ;
  }
  block {
    min-height: 0.5rem;
    filled {
      border-radius: 1.5rem;
      background-color: $fg;
    }
  }
}

